name: Publish Demo Apks
on: workflow_dispatch

jobs:
  create:
    name: Create Apks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      # CryptoDemo
      - name: Build APK
        working-directory: ./CryptoDemo
        run: bash ./gradlew assembleDebug --stacktrace
      - name: Renaming Apk
        working-directory: ./CryptoDemo
        run: mv app/build/outputs/apk/debug/app-debug.apk app/build/outputs/apk/debug/cryptodemo-debug.apk
      - name: Upload APK
        uses: actions/upload-artifact@v1
        with:
          path: ./CryptoDemo/app/build/outputs/apk/debug/cryptodemo-debug.apk
      # Pokedex
      - name: Build APK
        working-directory: ./Pokedex
        run: bash ./gradlew assembleDebug --stacktrace
      - name: Renaming Apk
        working-directory: ./Pokedex
        run: mv app/build/outputs/apk/debug/app-debug.apk app/build/outputs/apk/debug/pokedex-debug.apk
      - name: Upload APK
        uses: actions/upload-artifact@v1
        with:
          path: ./Pokedex/app/build/outputs/apk/debug/pokedex-debug.apk
